<div class="jumbotron">
<h1>Vote 4 Sud</h1>
<p>L'application pour saisir et analyser les résultats des Municipales</p>

<p>
	<%= link_to "Enregistrez-vous", new_user_registration_path , class: "btn btn-primary btn-large" %>
</p>
</div>