/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body 
{
	 padding-top: 50px; 
	 padding-left: 60px;
	 background-image:url('carton_municipales.png'); 
	 background-repeat:no-repeat;
	 background-position: 0px 50px;
} 

}

.barre{
	color: #FFF;
}

.results{
	color: #FFF;
	padding-left: 350px;
	margin-top: 60px;
	display: none;
}

.city{
	position: absolute;
	color: #FFF;
	padding-left: 350px;
	margin-top: 75px;
}

.district{
	position: absolute;
	color: #FFF;
	padding-left: 700px;
	margin-top: 80px;
}

#table_candidats {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}

#table_body{
	position: absolute;
	margin-top: 180px;
	margin-left: 140px;
}


#table_candidats tr.tabletr  {
	display: block; height: 53px; width: 800px;
}

table, td /* ajout d'une bordure transparente dans la table, modifier transparent en white pour la voir*/
{
border:2px solid transparent;
padding-left: 10px;
/* border: 1px solid green; pour aligner le tableau */ 
}

tr:nth-child(odd){       /* colorisation alternée des lignes du tableau */
    background:#005c77;}

tr:nth-child(even){
    background:#d60819;}


#table_candidats td.tablenom  {
	color: #FFF;
	font-size: 26px;
	width:300px;
}

#table_candidats td.tableprenom  {
	color: #FFF;
	text-align: right;
	font-size: 24px;
	width:200px;
}

#table_candidats td.tableparti  {
	color: #FFF;
	font-size: 24px;
	font-style: italic;
	width:160px;
}

#table_candidats td.tablevoix  {
	color: #FFF;
	font-size: 38px;
	width:200px;
}

#table_candidats td.tableelu  {
	color: #FFF;
	font-size: 24px;
	font-style: italic;
	width:60px;
}





